/* Zeroing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
html {
    
}
body {
    font-size: 16px;
    font-family: 'Bitter', serif;
    color:#0B4F47;
    
}

/* -------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}
/* -------------------------------- */
[class*="__container"] {
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 15px;
}
@media (max-width:1270px){
    [class*="__container"] {
        max-width: 1150px;
    }
}
@media (max-width:991.98px){
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width:767.98px){
    [class*="__container"] {
        max-width: 540px;
    }
}
@media (max-width:479.98px){
    
}
@media (max-width:360px){
    [class*="__container"] {
        /* max-width: 274px; */
    }
}
@media (max-width:340px){
    [class*="__container"] {
        max-width: none;
    }
}
/* ::-webkit-scrollbar {
    width: 10px;
  } */
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FBF8F8; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0B4F47; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0C5C53; 
  }
/* -------------------------------- */
.header {
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: 50;
    background: transparent;
}
.main {
    flex: 1 1 auto;
}


.footer {
}
/* -------elements--------------------------------- */
.title {
    font-weight: 600;
    font-size: 62px;
    line-height: 123%;
    color: #0B4F47;
}
.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 123%;
    color: #131313;
}
@media (max-width:767.98px) {
    .title {
        font-size: 50px;
    }
    .text {
        font-size: 18px;
    }
}
@media (max-width:600px) {
    .title {
        font-size: 36px;
    }
    .text {
        font-size: 16px;
    }
    
}
/* ------header-------------------------- */

.header__container {
    display: flex;
    min-height: 130px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 5;
}
.header__menu {
    flex: 1 1 auto;
}
.header__button {
    position: relative;
    /* z-index: 5;
    flex: 0 0 252px; */
    /* display: flex;
    justify-content: flex-end; */
}
a .menu__link .header__about {
    width: 76px;
    height: 22px; 
}
li .menu__item .header__courses {
    width: 80px;
    height: 29px;
}
li .menu__item .header__faq {
    width: 271px;
    height: 29px;
}
li .menu__item .header__contacts {
    width: 122px;
    height: 29px;

}
.menu {
    display: flex;
    justify-content: flex-start;
}
.menu__list {
    display: flex;
    /* padding-right: 150px; */
    padding-left: 60px;
}
.menu__item {
    margin: 0px 30px 0px 0px;
    
}
/* .menu__item:hover {
    color:  #F6CB73;
    
} */
.menu__item:last-child {
    margin: 0px 0px 0px 0px;
}
.menu__link {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 121%;
    color: #D1AE66;
}
.menu__link:hover {
    color:  #F6CB73;
    /* color:#8B02CC; */
}
/* @media (max-width:1300px) {
    .menu__list {
        padding-left: 100px;
    }
}
@media (max-width:1200px) {
    .menu__list {
        padding-left: 50px;
    }
} */
@media (max-width:1270px) {
    .menu__list {
        padding-left: 40px;
    }
    .menu__link {
        font-size: 16px;
    }
    .menu__item {
        margin: 0px 25px 0px 0px;
    }
}
@media (max-width:1150px) {
    .menu__list {
        padding-left: 35px;
    }
    .menu__item {
        margin: 0px 20px 0px 0px;
    }
}
@media (max-width:1100px) {
    .menu__list {
        padding-left: 30px;
    }
    .menu__item {
        margin: 0px 15px 0px 0px;
    }
}
@media (max-width:1070px) {
    .menu__list {
        padding-left: 25px;
    }
     
}
/* 991.98px */
@media (max-width:1065px) { 
    /* 767 */
    .menu__body {
        /* display: none; */
        position: fixed;
        overflow:auto;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color:#fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    } 
    .header:target .menu__body:before {
        content: "";
        /* position: fixed; */
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;

    }
    .menu__list {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__link {
        /* color: #000; */
        font-size: 20px;
    }
    .menu__item {
        margin: 0px 0px 25px 0px;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .header__button .button {
        padding: 14px 20px;
    }
}
.button {
    display: inline-block;
    border: 3px solid #D1AE66;
    color: #FFFFFF;
    /* padding: 5px 10px; */
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 123%;
    /* width: 126px;
    height: 39px; */
    text-align: center;
    padding: 10px 20px;
    
}
.header__login {
    display: none;
}
.header__button-login:hover {
    background:#D1AE66;
}
.header__button-register:hover {
    background:#B69657;
}
.header__login:hover {
    background:#D1AE66;
}
.header__register:hover {
    background:#B69657;
}
.header__register {
    display: none;
}
.register {
    background: #D1AE66;
    margin-left: 30px;
}
.red {
    background-color: #FF175C;
}
/* .button:hover {
    background-color: #c92934;
} */
/* .button_blue {
    background-color: #4285f4;
}
.button_blue:hover {
    background-color: #1e3f73;
} */
/* burger-menu */
.close-icon-menu {
    display: none;
}
.icon-menu {
    display: none;
}
/* 991.98px */
@media (max-width:1065px) {
/* 767 */
    /* .close-icon-menu, */
    .icon-menu {
        display: flex;
        flex: 0 0 30px;

        width: 28px;

        height: 18px;
        position: relative;
        flex-direction: column;
        justify-content:space-between;
        margin: 10px 0px 0px 20px;
    }
    .icon-menu::before,
    .icon-menu::after{
        content: "";
        background-color: #D9D9D9;
        height: 2.5px;
    }
    .icon-menu span {
        height: 2.5px;
        background-color: #D9D9D9;
    }
    .close-icon-menu{
        position: relative;
        flex: 0 0 30px;

        width: 28px;

        height: 30px;
        margin: 5px 0px 0px 20px;
    } 
    .close-icon-menu::before,
    .close-icon-menu::after
     {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: #000;
        height: 2.5px;
    }
    .close-icon-menu::before {
       transform: rotate(45deg); 
    }
    .close-icon-menu::after {
        transform: rotate(-45deg); 
     }
     .header:target .icon-menu {
         display: none;
     }
     .header:target .close-icon-menu{
        display: flex;
    }
}
/* 991.98px */
@media (max-width:991.98px) {
    .icon-menu {
        /* margin-right: 20px; */
    }
    .close-icon-menu {
        /* margin-right: 20px; */
    }
}
@media (max-width:820.98px) {
    .icon-menu {
        /* margin-right: 40px; */
    }
    .close-icon-menu {
        /* margin-right: 40px; */
    }
}
@media (max-width:1065px) {
    .header__button-block {
        display: none;
    }
    .header__login {
        display: flex;
    }
    .header__register {
        display: flex;
        /* display: inline-block; */
    }
    .login {
        color:#D1AE66;
    }
    .register {
        margin-left: 0px;
    }
    .icon-menu {
        /* margin-right: 40px; */
    }
    .close-icon-menu {
        /* margin-right: 40px; */
    }
        
    
}





.background {
    background-image: url('../img/main/home/background.png');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: #FBF8F8;
}
.header__button-register {
    

}
.home__title {
    margin-top: 220px;
    width: 655px;
    height: 279px;
    font-weight: 600;
    font-size: 74px;
    line-height: 121.5%;
    color: #FFFFFF;
}
@media (max-width:767.98px) {
    .home__title {
        font-size: 50px;
    }
    .background {
        
        
       
       
    }
}
@media (max-width:600px) {
    .home__title {
        font-size: 36px;
        width: 310px;
    }
}
@media (max-width:360px){
    .header__logo {
        width: 166px;
        height: 27px;
    }
    .home__title {
        height: 176;
        width: 283px;
    }
    
    .background {
        background-image: url('../img/main/home/background-mob.png');
        width: 100%;
        height: 800px;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        /* background: #FBF8F8; */
    }
}

/* ----------------------------------------- */
.about {
    margin-top: 120px;
}
.about__container {
    
}
.about__line {
    width: 256px;
    height: 5px;
    background: #0B4F47;
}
.about__title-block {
    display: flex;
    justify-content: space-between;
}
.about__title {
}

.about__title-line {
    margin-top: 10px;
}

.about__text {
    width: 825px;
    font-weight: 600;
    font-size: 25px;
    line-height: 123%;

    color: #0B4F47;
}
.about__content-block__right-side__image-mob {
    display: none;
}
.about__content-block {
    margin-top: 100px;
    display: flex;
}
.about__content-block__left-side {
}
.about__content-block__left-side__first-text {
    width: 340px;
}

.about__content-block__left-side__first-line {
    margin-top: 30px;
}
.about__content-block__left-side__second-text {
    margin-top: 125px;
    width: 356px;
    margin-right: 40px;
}
.about__content-block__left-side__second-line {
    margin-top: 30px;
}
.about__content-block__right-side {
}
.about__content-block__right-side__image {
}
@media (max-width:1270px){
    .about__title-block {
        display: flex;
        flex-direction: column;
    }
    .about__text {
        margin-top: 30px;
    }
    .about__content-block {
        margin-top: 80px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .about__content-block__left-side__first-text {
        margin-top: 70px;
    }
    .about__content-block__left-side__second-text {
        margin-top: 70px;
        margin-right: 0px;
    }
}
@media (max-width:991.98px) {
    .about__text {
        font-size: 22px;
    }
}
@media (max-width:767.98px) {
    .about__text {
        width: 500px;
        font-size: 20px;
    }
}
@media (max-width:600px) {
    .about__text {
        width: 450px;
        font-size: 18px;
    }
    
}
@media (max-width:480px) {
    .about__text {
        width: 400px;
    }
    .about__content-block__left-side__first-text {
        width: 350px;
    }
    .about__content-block__left-side__second-text {
        width: 360px;
    }
    
}
@media (max-width:460px) {
    .about__content-block__right-side__image {
        display: none;
    }
    .about__content-block__right-side__image-mob {
        display: block;
    }
    
}
@media (max-width:400px) {
    .about__text {
        width: 350px;
    }
    .about__content-block__left-side__first-text {
        width: 320px;
    }
    .about__content-block__left-side__second-text {
        width: 330px;
    }
}
@media (max-width:360px) {
    .about__text {
        width: 280px;
    }
    .about__content-block__left-side__first-text {
        width: 300px;
    }
    .about__content-block__left-side__second-text {
        width: 310px;
    }
    
}
@media (max-width:600px) {
    .background {
        
        height: 600px;
       
    }
}



/* -----facts---------------------------------------------- */
.facts {
    /* background-color: #FFFFFF; */
    margin-top: 156px;
    margin-bottom: 180px;
    /* border-bottom: white solid 184px;
    border-radius: 1100000%; */
}
.facts__title {
    margin-bottom: 375px;
}
.facts_wrapper {
    max-width: 1400px;
    width: 100%;
    position: relative;
    display: flex;
      justify-content: center;
      margin-bottom: 50px;
  }
  .facts_wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .facts_wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .facts_wrapper i:first-child{
    left: -22px;
  }
  .facts_wrapper i:last-child{
    right: -22px;
  }
  .facts_wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 26px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 30px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 40px;
    margin-right: 40px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .facts_card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.facts_card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .facts_card {
    scroll-snap-align: start;
    height: 250px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    /* padding-bottom: 15px; */
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .facts_card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .carousel .facts_card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .facts_card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  
  .facts__slider__slides__slide{
      display: flex;
      justify-content: center;
      /* align-items:center; */
      /* text-align: center; */
      /* display: grid;
      place-items: center; */
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      /* padding-bottom: 40px; */
      font-size: 22px;
      background: #FFFFFF;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
      border: 5px solid #0B4F47;
      border-bottom: none;
      border-right: none;
      border-left: none;
      height: 100%;
   
  }
  
  .facts__slides__arrow_button{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .facts__slides__arrow_button img{
      width: 60px;
      height: 60px;
  }
  
  .facts__title{
      margin-bottom: 100px;
  }
  
  .facts__title h1{
      font-size: 62px;
      font-weight: 600;
      color:  rgba(11, 79, 71, 1);
  }
  
  .facts__dots{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
  }
  
  .facts__dots__conatiner{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
      gap: 30px;
  }
  
  .facts__dots__conatiner__dot{
      width: 10px;
      height: 10px;
      border: 2px solid rgba(187, 187, 187, 1);
      border-radius: 100%;
  }
  
  .active_dot{
      border-color: rgba(0, 79, 56, 1);
      background-color: rgba(0, 79, 56, 1);
  }
  
  .swiper-reviews {
    display: none;
    }
  
  /* @media screen and (max-width: 900px) {
    .facts_wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .facts_wrapper .carousel {
      grid-auto-columns: 100%;
    }
  } */
  @media (max-width:1270px) {
    .facts_container {
        display: none;
    }
    .swiper-reviews {
        display: block;
    }
    
    
    .swiper-reviews {
    }
    .swiper {
    }
    .swiper-reviews__wrapper {
       
    }
    .swiper-wrapper {
        
    }
    .swiper-reviews__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .slide-swiper-rewiews {
        display: flex;
    }
    .swiper-slide {
    }
    .slide-swiper-rewiews__picture {
        overflow: hidden;
        display: flex;
        flex: 0 1 50%;
        justify-content: center;
        align-items: center;
    }
    .slide-swiper-rewiews__image {
        width: 320px;
        height: 320px;
        position: relative;
    }
    .slide-swiper-rewiews__image::before {
        content: "";
        position: absolute;
        width: 285px;
        height: 257px;
        top: 40px;
        left: -70px;
        background-color: #FF6428;
        border-radius: 40px 0px 400px 400px;
        transform: rotate(-10deg);
    }
    
    
    .slide-swiper-rewiews__image img {
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: center;
    }
    .slide-swiper-rewiews__body {
        flex: 0 1 50%;
    }
    .slide-swiper-rewiews__text {
        font-size: 16px;
        line-height: 160%;
    }
    .slide-swiper-rewiews__text p:not(:last-child) {
        margin-bottom: 15px;
    }
    .slide-swiper-rewiews__text:not(:last-child) {
        margin-bottom: 56px;
    }
    .slide-swiper-rewiews__author {
    }
    .slide-swiper-rewiews__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #000;
    }
    .slide-swiper-rewiews__name:not(:last-child) {
        margin-bottom: 8px;
    }
    .slide-swiper-rewiews__position {
        color: #868686;
        letter-spacing: 0.08em;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .swiper-reviews__pagination {
        display: flex;
        justify-content: flex-end;
        transform: translate(0px,-100%);
    }

    .swiper-reviews__pagination .swiper-pagination-bullet {
        opacity: 1;
        background: #c4c4c4;
        border-radius: 20px;
        flex: 0 0 15px;
        height: 16px;
        transition: all 0.3s ease 0s;
        margin-right: 100px;
    }
    .swiper-reviews__pagination .swiper-pagination-bullet-active {
        background: #004F38;
        flex: 0 0 15px;
        margin-right: 100px;
    }
    .swiper-pagination {
    }
  }
  @media (max-width: 1230px) {
    .reviews__swiper.swiper {
        /* margin-left: -15px; */
    }
}
@media (max-width: 1270px) {
    .reviews { 
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .reviews__title {
        margin-bottom: 50px;
    }
    .slide-swiper-rewiews {
        flex-direction: column;
    }
    .slide-swiper-rewiews__body {
        width: 30%;
        padding-top: 30px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 50px;
        background-color: #fff;
        border-top: 10px solid #004F38;
    }
    .slide-swiper-rewiews__picture {
        margin-bottom: 25px;
    }
    .swiper-reviews__pagination.swiper-pagination {
        position: relative;
        bottom: 0;
        justify-content: center;
        transform: translate(0px,0px);
        padding-top: 35px;
        
    }
    
}
@media (max-width: 991.98px) {
    .slide-swiper-rewiews__body {
        width: 40%;
        
    }
}
@media (max-width: 767.98px) {
    .reviews { 
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .reviews__title {
        margin-bottom: 30px;
    }
    .slide-swiper-rewiews__body {
        width: 50%;
        
    }
}
@media (max-width: 479.98px) {
    .slide-swiper-rewiews__image {
        width: 270px;
        height: 270px;
    }
    .slide-swiper-rewiews__body {
        width: 70%;
        
    }
    .slide-swiper-rewiews__image::before {
        content: "";
        position: absolute;
        width: 255px;
        height: 187px;
        top: 40px;
        left: -70px;
        background-color: #FF6428;
        border-radius: 40px 0px 400px 400px;
        transform: rotate(-10deg);
    }
    .slide-swiper-rewiews__text {
        font-size: 18px;
    }
    .slide-swiper-rewiews__text:not(:last-child) {
        margin-bottom: 25px;
    }
}






/* -----offer----------------------------------------------------- */
.offer {
    background-color: #FFFFFF;
    padding-top: 175px;
    padding-bottom: 215px;
}
.offer__title-block {
    display: grid;
    place-items: center;
}
.main {
    background: #FBF8F8;
}
.background-grey {
    
    
}
.offer__cards-block {
    margin-top: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----сard------------------------- */
.offer__card {
    display: grid;
    place-items: center;
    /* display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column; */
    width: 132px;
    /* border-bottom:5px solid #0B4F47; */
}
.offer__card:not(:last-child){
    margin-right: 112px;
}
.offer__card__image-block {
}
.offer__card__image {
}
.offer__card__title-block {
    margin-top: 5px;
    margin-bottom: 13px;
}
.offer__card__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 123%;
    color: #000000;
    text-align: center;
}
.offer__card__line-block {
}
.offer__card__line {
}



.offer__card__title-block__third-offer-card {
    width: 88px;
}
.offer__card__title-block__fifth-offer-card {
    /* width: 168px; */
}
.offer__card__title-block__offer__card__title {
    width: 168px;
}
.fifth__offer__card {
    border-bottom: none;
}
.offer__card__line {
    height: 5px;
    width: 132px;
    background: #0B4F47;
}
@media (max-width:1270px) {
    .offer__cards-block {
        flex-direction: column;
    }
    .offer__card {
        margin-right: 0px;
    }
    .offer__card:not(:last-child){
        margin-right: 0px;
        margin-bottom: 70px;
    }
    .offer__card:last-child {
        margin-right: 30px;
    }
    .facts__title-block {
        display: grid;
        place-items: center;
    }
}

/* -------different-------------------------------------------------- */

/* body{
    margin: 0;
    padding: 0;
} */
.slider__content__title-mob {
    font-family: 'Bitter', serif;
}
.slider__content__title_des {
    font-family: 'Bitter', serif;
}
.slider__content__paragraph {
    font-family: 'Bitter', serif;
    color: #000;
}


.slider_container{
    /* Change soon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    display: flex;
    flex-direction: row;
    background-image:url(./img/Subtract.png);
}

.slider__content{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 20px;
}

.slider__content__tabs{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

.slider__content__tabs__tab{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 5px solid rgba(11, 79, 71, 0.1);
    height: 100px;
    width: 150px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    transition: .4s;
    cursor: pointer;
}

.active_tab{
    font-size: 24px;
    color: #000;
    border-color: rgba(11, 79, 71, 1);
}

.slider__content__tabs__tab p{
    margin-bottom: 0; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; /* Выравнивание по горизонтали по центру */
    white-space: pre-wrap; 
}

.slider__content__title_desktop{
    font-weight: 500;
    font-size:30px;
    color:rgba(11, 79, 71, 1);
}

.slider__content__title_mobile{
    display: none;
    font-weight: 500;
    font-size:30px;
    color:rgba(11, 79, 71, 1);
    
}

.slider__content__title h2{
    margin-bottom: 0;
}

.slider__content__list_container{
    position: relative;
}

.slider__content__list{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    font-size: 27px;
    font-weight: 400;
    margin-top: 20px;
    transition: .5s;
}

.show_list{
    opacity: 1;
    position: relative;
}

.hide_list{
    opacity: 0;
}

/*********************************************************************/

.slider__image{
    flex-grow: 1;
    position: relative; 
    overflow: hidden;
}

.slider__image__container{
    height: 720px;
    width: 490px;
    margin: 0;
   
}

.slider__image__img{
    position:absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show_img{
    opacity: 1;
    transform: translateX(0);
}

.hide_img{
    opacity: 0;
    transform: translateX(+100%);
    
}

.slider__content__tabs_container{
    display: none;
}

.slider__mobile_image{
    display: none;
}

@media (max-width: 440px){
    .slider_container{
        flex-wrap: wrap;
    }

    .slider{
        flex-direction: column;
        width: 100%;
        /* min-width: 320px;
        max-width: 440px; */
    }

    .slider__content {
        padding: 20px;
    }

    .slider__content__title_desktop{
        display: none;
    }
    
    .slider__content__title_mobile{
        display: block;
        font-size: 19px;
        font-weight: 400;
        margin-top: 40px;
        text-align: center;
    }   


    .slider__content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .slider__content__tabs{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        padding-right: 0px;
        padding-left: 10px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }


    .slider__content__tabs__tab{
        align-items:center;
        height: 80px;
        width: 100px;
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 600;
        transition: .4s;
        cursor: pointer;
        font-size: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .active_tab{
        font-size: 17px;
        color: #000;
        border-color: rgba(11, 79, 71, 1);
    }

    .slider__content__list{
        font-size: 16px;
        padding-right: 10px;
    }

    .slider__image{
        display: none;
        width: 100%;
    }

    .slider__mobile_image{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        position: relative;
        max-width: 435px;
        min-height: 200px;
    }

    .slider__mobile_image__img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1.5s;
    }

    .show_mobile_img{
        opacity: 1;
    }
    
    .hide_mobile_img{
        opacity: 0;        
    }
    .slider__content__list_container{
        display: flex;
        justify-content: center;
    }
    .slider__content__list {
        margin-bottom: 50px;
    }
}

@media (min-width: 441px) and (max-width: 768px){
    .slider_container{
        flex-wrap: wrap;
    }
    .slider__content__list {
        margin-bottom: 50px;
    }
    .slider{
        flex-direction: column;
        width: 100%;
    }

    .slider__content {
        padding: 20px;
    }

    .slider__content__title_desktop{
        display: none;
    }
    
    .slider__content__title_mobile{
        display: block;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-top: 60px;
    }   


    .slider__content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .slider__content__tabs{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        padding-right: 0px;
        padding-left: 10px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }


    .slider__content__tabs__tab{
        align-items:center;
        height: 80px;
        width: 100px;
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 600;
        transition: .4s;
        cursor: pointer;
        font-size: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .active_tab{
        font-size: 17px;
        color: #000;
        border-color: rgba(11, 79, 71, 1);
    }

    .slider__content__list{
        font-size: 20px;
        padding-right: 10px;
    }

    .slider__image{
        display: none;
        width: 100%;
    }

    .slider__mobile_image{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        position: relative;
        max-width: 768px;
        min-height: 380px;
    }

    .slider__mobile_image__img{
        width: 100%;
        position: absolute;
        top: 0;
        transition: 1.5s;
    }

    .show_mobile_img{
        opacity: 1;
    }
    
    .hide_mobile_img{
        opacity: 0;
        
    }
    .slider__content__list_container{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 991px){
    .slider_container{
        
        flex-wrap: wrap;
    }
    .slider__content__list {
        margin-bottom: 50px;
    }
    .slider{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slider__content {
        padding: 20px;
    }

    .slider__content__title_desktop{
        display: none;
    }
    
    .slider__content__title_mobile{
        display: block;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-top: 60px;
    }   


    .slider__content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .slider__content__tabs{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        padding-right: 0px;
        padding-left: 10px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }


    .slider__content__tabs__tab{
        align-items:center;
        height: 80px;
        width: 100px;
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 600;
        transition: .4s;
        cursor: pointer;
        font-size: 19px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    .active_tab{
        font-size: 21px;
        color: #000;
        border-color: rgba(11, 79, 71, 1);
    }

    .slider__content__list{
        font-size: 25px;
        padding-right: 10px;
    }

    .slider__image{
        display: none;
        width: 100%;
    }

    .slider__mobile_image{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        position: relative;
        max-width: 768px;
        min-height: 380px;
    }

    .slider__mobile_image__img{
        width: 100%;
        position: absolute;
        transition: .5s;
    }

    .show_mobile_img{
        opacity: 1;
    }
    
    .hide_mobile_img{
        opacity: 0;
        
    }
    .slider__content__list_container{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1280px){
    .slider__content__tabs{
        padding-right: 0px;
    }

    .slider__content__tabs__tab{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        border: 5px solid rgba(11, 79, 71, 0.1);
        height: 100px;
        width: 100px;
        border-top: none;
        border-right: none;
        border-left: none;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 600;
        transition: .4s;
        cursor: pointer;
    }

    .active_tab{
        font-size: 24px;
        color: #000;
        border-color: rgba(11, 79, 71, 1);
    }

    .slider__content__title_desktop{
        
        font-weight: 500;
        font-size:24px;
        color:rgba(11, 79, 71, 1);
    }

    .slider__content__list{
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
        transition: .5s;
    }

}
.slider__content__title_desktop {
    margin-top: 20px;
    margin-bottom: 58px;
}
.slider__content__ul {
    margin-top: 67px;
}
.slider__content__li:not(:last-child) {
    margin-bottom: 25px;
}




/* ----------onboarding----------------------------------------------- */
.onboarding {
    /* margin-top: 900px; */
    background-color: #FFFFFF;
    padding-top: 115px;
    padding-bottom: 215px;
}
.onboarding__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.onboarding__title-block {
    
}
.onboarding__title {
    text-align: center;
}
.onboarding__line-mob {
    display:none;
}
.title {
}
.onboarding__image-block {
    margin-top: 115px;
}
.onboarding__cards-block {
    display: flex;
    margin-top: 20px;
    
}
.onboarding__card {

    
}
.onboarding__card__title {
    
    letter-spacing: -0.84px;
    font-size: 25px;
    line-height: 1.68;
    font-weight: 600;
    color: #1D1D1D;
}
.onboarding__card__text {
    font-weight: 400;
    font-size: 16;
    line-height: 1.31;
    color: #1D1D1D;
}


.onboarding__card-1 {
    /* justify-content: start; */
    margin-right: 180px;
}
.onboarding__card-2 {
    margin-right: 100px;
    /* justify-content: center; */
}
.onboarding__card-3 {
    /* justify-content: end; */
}
.onboarding__card__text-1 {
    width: 156px;
    
}
.onboarding__card__text-2 {
    width: 199px;
}
.onboarding__card__text-3 {
    width: 226px;
}
@media (max-width:1270px) {
    .onboarding__line {
        display:none;
    }
    .onboarding__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .onboarding__cards-block {
        margin-top: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .onboarding__image-block {
        
    }
    .onboarding__card {
        
        
    
    }
    .onboarding__line-mob {
        display: block;
    }
    .onboarding__card-1 {
        /* justify-content: start; */
        margin-right: 60px;
        margin-bottom: 35px;
    }
    .onboarding__card-2 {
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 10px;
        /* justify-content: center; */
    }
    .onboarding__card__text-2 {
        width: 225px;
        height: 42px;
    }
    .onboarding__card-3 {
        
        /* justify-content: start; */
        margin-left: 10px;
    }
}
@media (max-width:360px) {
    .onboarding__wrapper {
        margin-left: 55px;
    }
}
/* ---contact-------------------------------------------------- */

.contact {
    background-image: url('../img/main/contact/background.jpg');
    width: 100%;
    height: 437px;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}
.contact__content-block__image-block {
    display: none;
}
.contact__content-block__button:hover {
    background:#0C5C53;
}
.contact__container {
}
.contact__content-block {
    padding-top: 96px;
}
.contact__content-block__title {
    width: 383px;
    font-weight: 500;
    font-size: 48px;
    line-height: 123%;

    color: #FFFFFF;
}
.contact__content-block__line {
    margin-top: 12px;
    background: #FFFFFF;
    height: 5px;
    width: 332px;
}
.contact__content-block__button-block {
    margin-top: 72px;
}
.contact__content-block__button {
    color: #fff;
    text-decoration: none;
    padding: 21px 84px;
    font-weight: 600;
    font-size: 20px;
    line-height: 123%;
    background-color: #0B4F47;
}
@media (max-width:767.98px) {
    .contact__content-block {
        display: grid;
        place-items: center;
        text-align: center;
    }
    .contact {
        
        background-position: center left;
        /* background-attachment: fixed; */
       
    }
    .contact__container {
        padding: 0;
    }
    .contact__content-block__button {
        padding: 15px 50px;
        
    }
}
@media (max-width:600px) {
    .contact__content-block__title {
        font-size: 36px;
        
    }
}
@media (max-width:400px) {
    .contact__content-block__title {
        width: 360px;
    }
    .contact__content-block__line {
        margin-top: 12px;
        background: #FFFFFF;
        height: 5px;
        width: 300px;
    }
}
@media (max-width:360px) {
    .contact__content-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact__content-block__image-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact__content-block__line {
        display: none;
    }
    .contact {
        background-image: none;
        
        
    }
    .contact__content-block__title {
        margin-top: 25px;
        width: 340px;
        display: flex;
        justify-content: center;
        align-items:center;
        color: #0B4F47;
        text-align: center;
    }
    .contact__container {
        margin: 0;
    }
}
@media (max-width:340px) {
    .contact__content-block__title {
        width: 300px;
        justify-content: left;
    }
}


/* -----news------------------------------------------------ */
.news {
    margin-bottom: 162px;
}
.news__title-block {
    margin-top: 155px;
    display: grid;
    place-items: center;
}
.news__cards-block {
    margin-top: 73px;
    display: flex;
}
.news__card {
    padding-left: 20px;
    padding-right: 20px;
}
.news__card:not(:last-child) {
    margin-right: 57px;
}
.news__card-first {
    background-image: url('../img/main/news/cards/01.png');
        width: 30%;
        height: 564px;
        background-repeat: no-repeat;
        background-position: center center;
        /* background-attachment: fixed; */
        background-size: cover;
}
.news__card-second {
    background-image: url('../img/main/news/cards/02.png');
        width: 30%;
        height: 564px;
        background-repeat: no-repeat;
        background-position: center center;
        /* background-attachment: fixed; */
        background-size: cover;
}
.news__card-third {
    background-image: url('../img/main/news/cards/03.png');
        width: 30%;
        height: 564px;
        background-repeat: no-repeat;
        background-position: center center;
        /* background-attachment: fixed; */
        background-size: cover;
}
.news__card__title {
    padding-top: 363px;
    font-weight: 700;
    font-size: 25px;
    line-height: 123%;
    padding-bottom: 20px;

    color: #FFFFFF;
}
.news__card__text {

    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    /* or 16px */


    color: #FFFFFF;
}
.news__button-block {
    margin-top: 96px;
    display: grid;
    place-items: center;
}
.news__button {
    padding: 15px 63px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 123%;
    background-color: #0B4F47;
}
.news__text-block {
    margin-top: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.news__button:hover {
    background:#0C5C53;
}
.news__text {
    
    text-align: center;
    width: 941px;
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    color: #707070;
}
@media (max-width:1270px) {
    .news__slider-block {
        margin-top: 45px;
    }
    .news__cards-block {
        display: none;
    }
    .slide-swiper-rewiews__body-news-1 {
        background-image: url("../img/main/news/cards/01.png");
        width: 385px;
    }
    .slide-swiper-rewiews__body-news-2 {
        background-image: url("../img/main/news/cards/02.png");
        width: 385px;
    }
}
@media (max-width:767.98px) {
    .slide-swiper-rewiews__body-news-1 {
        background-image: url("../img/main/news/cards/02-mob.png");
        width: 272px;
    }
    .slide-swiper-rewiews__body-news-2 {
        background-image: url("../img/main/news/cards/02-mob.png");
        width: 272px;
    }
    
        .news__card__title {
            padding-top: 240px;
          
            font-size: 16px;
           
            padding-bottom: 14px;
        
        }
        .news__card__text {
            padding-bottom: 0px;
        }
    
}
@media (max-width:400px) {
    .news__text {
        font-size: 13px;
        
    }
}
/* -------footer----------------------------------- */
.footer {
    background-color: #002828;
}
.footer__container {
}
.footer__top {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo-block {
}
.footer__logo-link {
}
.footer__logo {
}
.footer__contact-block {
}
.footer__contact-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    color: #fff;
}
.footer__contact-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    color: #fff;
}
.footer__wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 3.91fr 1fr;
}
.footer__left-side {
}
.footer__left-side__first-block {
}
.footer__left-side__first-block__first-header {
}
.footer-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    /* or 20px */


    color: #FFFFFF;
}
.footer__left-side__first-block__first-text {
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    /* or 20px */


    color: rgba(255, 255, 255, 0.7);
}
.footer__left-side__first-block__second-header {
}
.footer__left-side__first-block__second-text {
}
.footer__left-side__second-block {
    margin-top: 30px;
}
.footer__left-side__second-block__first-header {
}
.footer__left-side__second-block__first-text {
}
.footer__left-side__third-block {
    margin-top: 30px;
}
.footer__left-side__third-block__first-header {
}
.footer__left-side__third-block__first-text {
}
.footer__right-side {
}
.footer__right-side__button-block {
}
.footer__right-side__button-login {
    font-weight: 700;
    font-size: 16px;
    line-height: 123%;
    /* identical to box height, or 20px */

    text-align: center;
    padding: 10px 25px;
    margin-right: 30px;

    color: #FBF8F8;
    border: 3px solid #FBF8F8;
}
.footer__right-side__button-register {
    font-weight: 700;
    font-size: 16px;
    line-height: 123%;
    /* identical to box height, or 20px */

    text-align: center;
    background: #FBF8F8;
    padding: 10px 25px;
    border: 3px solid #FBF8F8;
    color: #002828;
    }
.footer__copyright-block {
    margin-top: 100px;
    display: grid;
    place-items: center;
    margin-bottom: 90px;
}
.footer__copyright-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #FFFFFF;
}
@media (max-width:1270px){
    .footer__top {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer__contact-block {
        margin-top: 40px;
    }
    .footer__wrapper {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .footer__left-side {
        margin-top: 48px;
    }
}
.footer__right-side__button-login:hover {
    background:#FBF8F8;
}
.footer__right-side__button-register:hover {
    background:#E8E8E8;
}





.cookie_wrapper {
    position: fixed;
    bottom: 50px;
    right: -370px;
    max-width: 345px;
    width: 100%;
    background: #fff;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid rgba(11, 79, 71, 1);
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  .cookie_wrapper.show_cookie {
    right: 20px;
  }
  .cookie_wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  
  header h2 {
    color: rgba(11, 79, 71, 1);
    font-weight: 600;
  }
  .cookie_wrapper .cookie_data {
    margin-top: 16px;
  }
  .cookie_wrapper .cookie_data p {
    color: #333;
    font-size: 16px;
  }
  .cookie_data p a {
      font-weight: 600;
      color: rgba(11, 79, 71, 1);
      text-decoration: none;
  }
  .cookie_data p a:hover {
    text-decoration: underline;
  }
  .cookie_wrapper .cookie_buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cookie_buttons .cookie_button {
    border: none;
    color: #fff;
    padding: 8px 0;
    background: rgba(11, 79, 71, 1);
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: all 0.2s ease;
  }
  .cookie_buttons #acceptBtn:hover {
    background-color:rgb(7, 52, 47);
  }
  #declineBtn {
    border: 2px solid rgba(11, 79, 71, 1);
    background-color: #fff;
    color: rgba(11, 79, 71, 1);
  }
  #declineBtn:hover {
    background-color: rgba(11, 79, 71, 1);
    color: #fff;
  }
  
  @media (max-width: 440px){
  
      .cookie_wrapper {
          bottom: 0px;
      }
  
      .cookie_wrapper.show_cookie {
          right: 0px;
      }
  }